
.main_par{
  width:150px;
  float :right;
  margin:20px 20px 20px 20px;
  padding:20px 20px 20px 20px;
  font-family:   sans-serif;
  color: Gray;
}

.main_que{
  width:55%;margin-bottom: 50px
}
.btn1{
	display: none;
}
nav{
  width: 200px;
  position: fixed; /* Set the navbar to fixed position */
}
.dropbtn{
	display: none;
}
nav a {
  float: left;
  display: block;
  color: Gray;
  padding: 8px 16px;
  text-decoration: none;
  font-family:   sans-serif;
  margin-top:15px ;
  margin-left:25px;
  margin-bottom: 10px;
}
.nav_head_web{
	margin-left: 15%;
	font-size: 40px;
	color:black;
	font-weight: bold;
	font-family: 'Times New Roman';
}
.nav_head_mob{
	display:none;
}

a.active {
	
  text-decoration: line-through;
  text-decoration-color: red;
  color: Gray;
}
nav a:hover {
  font-weight: bold;
  color: Gray;
}
li a:hover:not(.active) {
  font-weight: bold;
  color: Gray;
}
.head{
	font-size: 60px;
}
.box{
	width:120px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	height:150px;
	float:left;
	border: 1px;
	border-radius: 10px;
	
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img_img{
	width:100px;
	height:100px;
	margin-left: 10px;
	border-radius: 50px;
}

.btn{
height:45px;
width:120px;
color:white;
padding: 10px 10px 10px 10px;
background-color: rgb(242, 88, 68);
border-radius: 20px;
margin-left:18%;
border: none;
margin-top: 20px;
}


